# hydra config
hydra:
  run:
    dir: ${log_path}
  job:
    chdir: false

# Path
paths:
  video_path: /workspace/data/videos_split
  result_output_path: /workspace/data/head3d_fuse_results
  sam3d_results_path: /workspace/data/sam3d_body_results_right
  start_mid_end_path: /workspace/data/annotation/split_mid_end/mini.json # 我们不需要推导左右的frame，按照这里面的start和mid来进行推导

log_path: logs/head3d_fuse/${now:%Y-%m-%d}/${now:%H-%M-%S}

visualize:
  save_mesh_ply: false
  save_mesh_overlay: false
  save_bbox_image: false
  save_3d_mesh: false
  save_3d_keypoints: false
  save_together: false

infer:
  num_inference_steps: 4
  workers: 2 # 每个 GPU 使用的工作线程数,3090 建议 2
  person_list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # 指定需要处理的人物 ID 列表，-1 表示处理所有人物
  env_list: [all] # 指定需要处理的环境 ID 列表，-1 表示处理所有环境
